.ui.sortable.table thead th.no-sort:hover {
    background-color: #f9fafb;
}

.meta {
    font-style: italic;
}

.name {
    font-size: 19px;
    line-height: 160%;
}

.hidden {
    display: none;
}

footer.ui.footer {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    min-height: 30px;
    bottom: 0;
}

.ui.grid.stackable.container table.ui.sortable.table.tablesorter {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .ui.sortable.table tr.filtered {
        display: none !important;
    }
}

.description {
    font-size: 15px;
    line-height: 150%;
}

.roaster {
    font-size: 15px;
    line-height: 150%;
}

.region {
    font-size: 15px;
}

.price {
    font-size: 15px;
}

.size {
    font-size: 15px;
}
.ui.input {
    font-size: 15px;
}

.ui.dropdown {
    font-size: 15px;
}

.ui.input.focus input,
.ui.input input:focus {
  border-color: #85B7D9;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.ui.input.focus input::-webkit-input-placeholder,
.ui.input input:focus::-webkit-input-placeholder {
  color: rgba(128, 128, 128, 1);
}
.ui.input.focus input::-moz-placeholder,
.ui.input input:focus::-moz-placeholder {
  color: rgba(128, 128, 128, 1);
}
.ui.input.focus input::-ms-input-placeholder,
.ui.input input:focus::-ms-input-placeholder {
  color: rgba(128, 128, 128, 1);
}

