.ui.sortable.table thead th.no-sort:hover {
    background-color: #f9fafb;
}

.meta {
    font-style: italic;
}

.name {
    font-size: 19px;
    line-height: 160%;
}

.hidden {
    display: none;
}

footer.ui.footer {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    min-height: 30px;
    bottom: 0;
}

.ui.grid.stackable.container table.ui.sortable.table.tablesorter {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .ui.sortable.table tr.filtered {
        display: none !important;
    }
}

.description {
    font-size: 15px;
    line-height: 145%;
}

.roaster {
    font-size: 15px;
}

.region {
    font-size: 15px;
}

.price {
    font-size: 15px;
}

.size {
    font-size: 15px;
}

.ui.semismall.image {
  width: 200px;
  height: auto;
  font-size: 0.92857143rem;
}
