.ui.sortable.table thead th.no-sort:hover {
    background-color: #f9fafb;
}

.meta{
    font-style: italic;
}

.name{
    font-size: 18px;
}

footer.ui.footer {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    min-height: 30px;
    bottom: 0;
}

.ui.grid.stackable.container {
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .ui.sortable.table tr.filtered {
        display: none !important;
    }
}
